# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/
ENV/

# Build files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Environment files
.env

# YOLO / ML model files
*.pt
*.onnx
*.h5
*.keras

# Logs
*.log

# Database
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
desktop.ini
